* {
	margin:0;
	padding:0;
	-webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: rgb(10, 25, 47) !important;
}

div {
	display: block;
}

.intro {
    text-align: center;
}

.intro h3 {
    font-size:50px;
}

.intro p {
	font-size:20px;
	max-width: 600px;
    margin:25px auto;
    color: rgb(157, 157, 157);
}

/* =====================   main page   ===================== */

.intro {
    margin-top:100px;
}

.title-list{
	display:none;
}

.title {
    text-align: center;
}

.typing {  
	display: inline-block; 
	animation-name: cursor; 
	animation-duration: 0.7s; 
	animation-iteration-count: infinite;
  } 
  @keyframes cursor{ 
	0%{border-right: 5px solid #fff} 
	50%{border-right: 5px solid #000} 
	100%{border-right: 5px solid #fff} 
  }

.goto-button {
	background-color: #5ec3eb;  /* blue color */
	display: block;
	padding : 1em 3em;
	font-weight: 800;
	font-size:14px;
	cursor: pointer;
	transition: background-color 1s;
	width:150px;
	position: relative;
	left:50%;
	margin-top:60px;
	transform:translateX(-50%);
}

.goto-button:hover{
	background-color: #abe1f5;
	color:black;
	transition: background, color;
	transition-duration: 1s;
}

.intro .creators {

}

.select {
	padding-bottom: 30px;
}

.select .arrow {
	position: relative;
	font-size:40px;
	font-weight:800;
	margin:0 30px;
	color:black;
	cursor:pointer;
}

.select h3{
	font-size:30px;
	color:yellow;
	margin-bottom:20px;
}

.select div {
	display: inline-block;
	table-layout: middle;
}

.creators {
	/* background-image:radial-gradient( circle farthest-side at top center, #61429a 0%, #46387f 15%, #2f2e64 40%, #1d2248 65%, #10162D 100% ); */
	background-color: #0e0e0e;
	width:100%;
	padding: 7em 0;
}

.creators .member_list {
	padding: 5em 0;
}

.member_list .member {
	display: inline-block;
	margin: 0 30px;
	color:#5ec3eb;
	font-size:20px;
}

.member img{
	display: block;
	margin-bottom: 10px;

}


/*    */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}