{%  load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <script src="{% static 'js/materialize.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/material-addon-room.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
  </head>
  <body>
    <div class="terminal-bar dark-mode">
      <div class="icon-btn close"></div>
      <div class="icon-btn min"></div>
      <div class="icon-btn max"></div>
      <div class="terminal-bar-text is-hidden-mobile dark-mode-text">guest@COMI: ~</div>
    </div>

    <div id="login-page" class="row">
      <div class="col s12 z-depth-4 card-panel">
        <form class="login-form" method="POST" action="{%url 'signup'%}">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12 center">
              <h4>Register</h4>
              <p class="center">Join to our community now !</p>
            </div>
          </div>
    
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-social-person-outline prefix"></i>
              <i class="material-icons prefix">account_circle</i>
              <input id="username" name="username" type="text"/>
              <label for="username">Username</label>
            </div>
          </div>
    
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-social-person-outline prefix"></i>
              <i class="material-icons prefix">email</i>
              <input id="email" name="email" type="text" style="cursor: auto;" />
              <label for="email">Email</label>
            </div>
          </div>
    
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <i class="material-icons prefix">vpn_key</i>
              <input id="pass" name="pass1" type="password" />
              <label for="password">Password</label>
            </div>
          </div>
    
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <i class="material-icons prefix">vpn_key</i>
              <input id="password_a" name="pass2" type="password" />
              <label for="password_a">Password again</label>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s12">
              <button type="submit" class="btn waves-effect waves-light col s12">REGISTER NOW</button>
    
            </div> 
            <div class="input-field col s12">
              <p class="margin center medium-small sign-up">Already have an account? <a href="./login">Login</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
